@import url("style.user.css");
body {
    min-width: 300px;
    word-wrap: break-word;
    font-family: 'Helvetica Neue',Helvetica,sans-serif, 'Segoe UI', 'Segoe UI Symbol';
    background-color: #FEFEFE;
}
img.Incoming {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAH1SURBVDhPY2CAADYg5gvqkP+fPMPgf8oMo/85c23/F8x3/h/RrfEXqgZGMaLxGZiBArxALJEyy/B/1hrt/5mrtP7XbfX637cv4X/xIvdfhAwA2S4KxIops/X+J6+V+Z+4Qvp/+Ub7/x27I/4XL3T/TcgAbqACWSDWSZuv/z9zm/z/lPVS/2u2O//v2Rv9v2SRB34DHEv5KoObVXuDG9SmFq6y+p+7W+F/4kbh//W7XP737Y/9X7867G/mdLuGlMkW9e61IgVAi1DDwK9ZZkbDNu+vLced/tUdNf+ftVvif9xGnv81O+3/d+0N/z/jYP7/uYcq/k/anv8pokuzG8MAVXdm2YTJunMaDzp+zzwg/D9pO+//mPXc/3M3av1v3OH9v2tP1P+ZB0q+Fs5377EuZRHAMICJlYHbKIzPMXma0Y6Kfcb/kjYL/o9cxfU/ZZX8//ptnv8n7cv4V7rQe7l/i6w6NDAxopGdlZNBUsOLwzN3icWrnI0a/0OXcP6PWyL5v3l70L/alcEPXar41a1KWJhwGQCS4ANiSdsM4bis+eZ3kpcq/89ZafC/coX3lcA2eVdC0QhyEigt8IvpMEkHtyiXFCyxfVa2wvVx/CT9DKtSoPtQAYYXQNIgQVYg5jBL5RAPbleYEt6l1uFYxSuInmzRAxEAjbvAFcN6tUwAAAAASUVORK5CYII=');
    width: 16px;
    height: 12px;
}
img.Outgoing {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAHsSURBVDhPY2BAACYgk9mmgEMstEt5RnSvTotzFZ8AkjxeJjNQllPGgkkspF25qHaN//OuLUmPUqaap1uXsXESMoQRpBmIhe1zhSOz51vcrtns/n/S/vT/bRtir4R0KjujGQBSjwJY2bgZRDR92Z1zFpm/yFmv/a9gg+H/rj0R/2cfKf7XsSHpgVu1oLpVCQvIiyCAagATCwOHcQSfTeIUg61lu4z+JWwQ+l+wRfd/976I/1MOZfxffKL+X9WSoOWBbfLqUAP4UaxX82KWipuoM6N+n+P39D3C/xO28P7P3KLwv/tg+P8JBxL/zzyS93/BkbqvxQs8e23KWECBCgovBPBrkZ5Yu9XjS/Mxh/81R8z+Z+6W+B+/ke9/636//xMOJgC9UfJ/zqGK//1bcz6Hd2n0YnjBoZSvPKhJZUJwg/rMotXW//P3Kv6P3cD9v3qnPdiAxjUR//Nmu9RnTLOt96wTL8QwACjADcTyQKyfvsDgf85Ohf9Ra7j+l2w2+9+9N/J/0UK3/2iBjhGt7EAFEkCsmjpX/3/aBtn/oUs4/hesM/7fvD3gf/58J3QDMJIFKFAEgVg2dbbh/5z1Ov8Tlsn+r9zk9L99VxhRBsATUlCHwv/kmYb/k2bo/8+ea/0vb77D7/Butb/4UiIAB9bEdCfpOZEAAAAASUVORK5CYII=');
    width: 16px;
    height: 12px;
}
p {
    padding: 0px;
    margin: 0px;
}
.TextMessage_UserLink {
    color: red;
    text-decoration: none;
}
.TextMessage_ServerLink {
    text-decoration: none;
}
.TextMessage_Normal {
    color: #000000;
}
.TextMessage_Connected, .TextMessage_Disconnected, .TextMessage_ClientDisconnected, .TextMessage_ClientConnected {
    color: #0000ee;
}
.TextMessage_ClientJoined {
    color: #009900;
}
.TextMessage_Time {
    color: #000000;
	font-weight: normal;
}
.TextMessage_Welcome {
    color: #0AA537;
}
.TextMessage_ClientDropped {
    color: #C9070A;
}
.TextMessage_Console {
    color: #0000ee;
}
.TextMessage_Poke {
    color: #0AA537;
}
.TextMessage_ServerError {
    color: #C9070A;
    font-weight: bold;
}
.TextMessage_Text {
    white-space: pre-wrap;
}

.embed-image {
    max-width: 100%;
    max-height: 250px;
}

video {
    max-width: 100%;
}

.outer-container {
    position: relative;
    display: inline-block;
}

.embed-container {
    background-color: lightgray;
    padding: 3px 5px;
    display: inline-block;
}

.close-embeds {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 15px;
}

.close-embeds:hover {
    color: lightgray;
    background: darkgray;
    opacity: 1;
}

.close-embeds:visited {
    color: black;
}

.url-favicon {
    padding: 0px 1px 0px 1px;
    vertical-align: text-top;
}

.embedded-image {
    max-height: 300px;
    max-width: 500px;
}

.emote-menu {
    display: none;
    position: fixed;
    padding: 10px;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    background: #FFF;
    z-index: 20;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
  }

.emote-menu.menu-visible {
    display: block;
}

.emote-menu::-webkit-scrollbar {
    width: 6px;
}

.emote-menu::-webkit-scrollbar-thumb {
    background-color: #000;
}

.emote-menu::-webkit-scrollbar-track {
    background-color: darkgray;
}

#popup {
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.emote-container > .emote {
    padding: 1px;
    cursor: pointer;
    max-height: 32px;
}

.set-header {
    text-align: center;
    padding: 2px;
    font-size: 8pt;
}

.tooltipper {
    background-color: black;
    color: #FFF;
    font-size: 0.7em;
    position: absolute;
    z-index: 999;
    padding: 4px;
    border-radius: 3px;
    width: 120px;
    text-align: center;
}

.tooltipper:empty {
    display: none;
}

.chattab {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.featherlight-content {
    overflow: hidden !important;
}

.tweet-container, .generic-og-embed {
    background-color: #FEFEFE;
    padding: 8px;
}

.twitter-username, .embed-og-title {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 4px;
}

.twitter-username:hover, .embed-og-title:hover {
    color: gray;
}

.twitter-description, .embed-og-description {
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre-wrap;
}

.tweet-image {
    max-width: 350px;
    max-height: 175px;
}

.embed-og-image {
    max-width: 150px;
    max-height: 50px;
}

/* for avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: #D3D3D3;
    border-width: 1px;
    object-fit: cover;
    object-position: top;
    background-color: #F5F5F5;
}

.TextMessage_UserLink.Outgoing {
    color: #009900;
}

.avatar-container {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 5px;
    -webkit-user-select: none;
}

.message-container {
    margin-left: 48px;
}

.avatar-style.TextMessage_Time {
    font-size: 12px;
    color: #99aab5;
}

.message-content {
    padding-top: 5px;
}

.avatar-style.TextMessage_Normal {
    padding-bottom: 10px;
}
