@import url("style.user.css");
body {
    min-width: 300px;
    word-wrap: break-word;
    font-family: 'Helvetica Neue',Helvetica,sans-serif, 'Segoe UI', 'Segoe UI Symbol';
    background-color: #FEFEFE;
}
p {
    padding: 0px;
    margin: 0px;
}
.TextMessage_UserLink {
    color: red;
    text-decoration: none;
}
.TextMessage_ServerLink {
    text-decoration: none;
}
.TextMessage_Normal {
    color: #000000;
}
.TextMessage_Connected, .TextMessage_Disconnected, .TextMessage_ClientDisconnected, .TextMessage_ClientConnected {
    color: #0000ee;
}
.TextMessage_ClientJoined {
    color: #009900;
}
.TextMessage_Time {
    color: #000000;
	font-weight: normal;
}
.TextMessage_Welcome {
    color: #0AA537;
}
.TextMessage_ClientDropped {
    color: #C9070A;
}
.TextMessage_Console {
    color: #0000ee;
}
.TextMessage_Poke {
    color: #0AA537;
}
.TextMessage_ServerError {
    color: #C9070A;
    font-weight: bold;
}
img {
    max-width: 100%;
    max-height: 250px;
}
.embeds {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
video {
    max-width: 100%;
}
.embed-container {
    max-width: 400px;
    background-color: lightgray;
    padding: 3px 5px;
    display: inline-block;
}
.embed-container::after {
    content:'';
    clear: both;
    display: block;
}
.close-embeds {
    position: absolute;
    margin-left: -5px;
    margin-top: -10px;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    background: lightgray;
    border-radius: 20px;
    width: 15px;
}
.close-embeds:hover {
    color: lightgray;
    background: darkgray;
}
.close-embeds:visited {
    color: black;
}
img.Incoming {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAH1SURBVDhPY2CAADYg5gvqkP+fPMPgf8oMo/85c23/F8x3/h/RrfEXqgZGMaLxGZiBArxALJEyy/B/1hrt/5mrtP7XbfX637cv4X/xIvdfhAwA2S4KxIops/X+J6+V+Z+4Qvp/+Ub7/x27I/4XL3T/TcgAbqACWSDWSZuv/z9zm/z/lPVS/2u2O//v2Rv9v2SRB34DHEv5KoObVXuDG9SmFq6y+p+7W+F/4kbh//W7XP737Y/9X7867G/mdLuGlMkW9e61IgVAi1DDwK9ZZkbDNu+vLced/tUdNf+ftVvif9xGnv81O+3/d+0N/z/jYP7/uYcq/k/anv8pokuzG8MAVXdm2YTJunMaDzp+zzwg/D9pO+//mPXc/3M3av1v3OH9v2tP1P+ZB0q+Fs5377EuZRHAMICJlYHbKIzPMXma0Y6Kfcb/kjYL/o9cxfU/ZZX8//ptnv8n7cv4V7rQe7l/i6w6NDAxopGdlZNBUsOLwzN3icWrnI0a/0OXcP6PWyL5v3l70L/alcEPXar41a1KWJhwGQCS4ANiSdsM4bis+eZ3kpcq/89ZafC/coX3lcA2eVdC0QhyEigt8IvpMEkHtyiXFCyxfVa2wvVx/CT9DKtSoPtQAYYXQNIgQVYg5jBL5RAPbleYEt6l1uFYxSuInmzRAxEAjbvAFcN6tUwAAAAASUVORK5CYII=');
    width: 16px;
    height: 12px;
}
img.Outgoing {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAHsSURBVDhPY2BAACYgk9mmgEMstEt5RnSvTotzFZ8AkjxeJjNQllPGgkkspF25qHaN//OuLUmPUqaap1uXsXESMoQRpBmIhe1zhSOz51vcrtns/n/S/vT/bRtir4R0KjujGQBSjwJY2bgZRDR92Z1zFpm/yFmv/a9gg+H/rj0R/2cfKf7XsSHpgVu1oLpVCQvIiyCAagATCwOHcQSfTeIUg61lu4z+JWwQ+l+wRfd/976I/1MOZfxffKL+X9WSoOWBbfLqUAP4UaxX82KWipuoM6N+n+P39D3C/xO28P7P3KLwv/tg+P8JBxL/zzyS93/BkbqvxQs8e23KWECBCgovBPBrkZ5Yu9XjS/Mxh/81R8z+Z+6W+B+/ke9/636//xMOJgC9UfJ/zqGK//1bcz6Hd2n0YnjBoZSvPKhJZUJwg/rMotXW//P3Kv6P3cD9v3qnPdiAxjUR//Nmu9RnTLOt96wTL8QwACjADcTyQKyfvsDgf85Ohf9Ra7j+l2w2+9+9N/J/0UK3/2iBjhGt7EAFEkCsmjpX/3/aBtn/oUs4/hesM/7fvD3gf/58J3QDMJIFKFAEgVg2dbbh/5z1Ov8Tlsn+r9zk9L99VxhRBsATUlCHwv/kmYb/k2bo/8+ea/0vb77D7/Butb/4UiIAB9bEdCfpOZEAAAAASUVORK5CYII=');
    width: 16px;
    height: 12px;
}

.url-favicon {
    padding: 0px 1px 0px 1px;
    vertical-align: text-top;
}

.embedded-image {
    max-height: 300px;
    max-width: 500px;
}

.emote-menu {
    display: none;
    position: fixed;
    padding: 10px;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    background: #FFF;
    z-index: 20;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
  }
.emote-menu.menu-visible {
    display: block;
}
.emote-menu::-webkit-scrollbar {
    width: 6px;
}
.emote-menu::-webkit-scrollbar-thumb {
    background-color: #000;
}
.emote-menu::-webkit-scrollbar-track {
    background-color: darkgray;
}

#popup {
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.emote-container > .emote {
    padding: 1px;
    cursor: pointer;
    max-height: 32px;
}

.set-header {
    text-align: center;
    padding: 2px;
    font-size: 8pt;
}

.download {
    height: 1em;
    margin-left: 10px;
    margin-top: 2px;
}

.download-finished {
    color: #0AA537;
}

.download-failed, .download-cancelled {
    color: #C9070A;
}

.download-cancel {
    margin-left: 4px;
    font-size: 10px;
}

.progress {
    width: 3em;
    height: 1em;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image: 
      repeating-linear-gradient(
        -45deg,
        #2980b9,
        #2980b9 11px,
        #eee 10px,
        #eee 20px /* determines size */
      );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
    display: inline-block;
}
  
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

.tooltipper {
    background-color: black;
    color:  #FFF;
    font-size: 0.7em;
    position: absolute;
    z-index: 999;
    padding: 4px;
    border-radius: 3px;
    width: 120px;
    text-align: center;
}

.tooltipper:empty {
    display: none;
}

.chattab {
    display: none;
}
