<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='style.css'/>
        <link rel='stylesheet' type'text/css' href='xbbcode.css'/>
        <!--<link rel='stylesheet' type='text/css' href='../../../styles/style.qss'/>-->

        <script type='text/javascript' src='jquery-3.2.1.min.js'></script>
        <script type='text/javascript' src='qwebchannel.js'></script>
        <script type='text/javascript' src='jquery.resize.js'></script>
        <script type='text/javascript' src='xbbcode.js'></script>
        <script type='text/javascript' src='Emotes.js'></script>

        <script type='text/javascript'>
            var main;
            var IsBottom = true;
            var QtObject;
            var stayDown = function() {
                if (IsBottom) {
                    window.scroll(0, document.body.scrollHeight);
                }
            };
            
        window.onload = function() {
            new QWebChannel(qt.webChannelTransport, function(channel) {
                QtObject = channel.objects.wObject;
            });
            main = $('#main');
            Emotes.emote_list_element = $('#emote-list');
            $.when(Emotes.load()).always(function(){
                Emotes.makeKeyList();
            });
            $('#main').resize(stayDown);
        };

        window.onscroll = function(ev) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
                IsBottom = true;
            }
            else {
                IsBottom = false;
            }
        };

        function AddServer(serverId) {
            if (!$(`.tab-${serverId}-server`).length) {
                main.append(`<div class='tab-${serverId}-server'></div><div class='tab-${serverId}-channel'></div>`);
            }
            ShowTarget(`tab-${serverId}-server`);
        }

        function ParseBBCode(line) {
            var result = XBBCODE.process({
                text: line
            });
            //console.error("err", result.error);
            //console.dir(result.errorQueue);
            return result.html.replace(/(?:\r\n|\r|\n)/g, '<br>');
        }

        function AddLine(target, direction, time, name, line) {
            CreateTabIfNotExist(target);

            if ($(`.${target}`).childElementCount > 500) {
                $(`.${target}`).firstElementChild.remove();
            }
            
            var formatted = `<p class='TextMessage_Normal'>
                                <span class='Body'>
                                    <img class='${direction}'>
                                    <span class='TextMessage_Time'><${time}> </span>
                                    <span class='TextMessage_UserLink'>"${name}"</span>: 
                                    <span class='TextMessage_Text'>${EmbedYoutube(Emotes.emoticonize(ParseBBCode(line)))}</span>
                                </span>
                            </p>`;
            $(`.${target}`).append(formatted);

            if (IsBottom) {
                window.scroll(0, document.body.scrollHeight);
            }
        }

        function AddStatusLine(target, time, type, line) {
            CreateTabIfNotExist(target);

            if ($(`.${target}`).childElementCount > 500) {
                $(`.${target}`).firstElementChild.remove();
            }
            var formatted = `<p class='${type}'>
                                <img class='Incoming'>
                                <span class='TextMessage_Time'><${time}> </span>
                                <span class='TextMessage_Text'>${ParseBBCode(line)}</span>
                            </p>`;
            $(`.${target}`).append(formatted);

            if (IsBottom) {
                window.scroll(0, document.body.scrollHeight);
            }
        }

        function ShowTarget(target) {
            console.log("show: " + target);
            CreateTabIfNotExist(target);

            $('[class^="tab"]').hide();
            $(`.${target}`).show();
            window.scroll(0, document.body.scrollHeight);
        }

        function CreateTabIfNotExist(target) {
            if (!$(`.${target}`).length) {
                main.append(`<div class='${target}' style='display: none;'></div>`);
            }
        }

        function escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        }

        function Embed(line) {
			try {
				if (line.indexOf('<audio') === -1) {
					var audios = line.match(/(?:\[url\])?(.+(?:ogg|oga|mp3|wav|wma|m4a|aac))(?:\[\/url\])?/gi);
					if (audios != null) {
						audios.forEach(function(audio) {
							line += '</br><audio controls preload="metadata" src="' + audio + '"></audio>';
						});
					}
				}
				if (line.indexOf('<video') === -1) {
					var videos = line.match(/(?:\[url\])?(.+(?:ogm|ogv|m4v|mp4|webm))(?:\[\/url\])?/gi);
					if (videos != null) {
						videos.forEach(function(vid) {
							line += '</br><video controls preload="metadata" src="' + vid + '"></video>';
						});
					}
				}
				if (line.indexOf('<img') === -1) {
					var imgs = line.match(/(?:\[url\])?(.+(?:jpg|png|gif|webp))(?:\[\/url\])?/gi);
					if (imgs != null) {
						imgs.forEach(function(img) {
							line += '</br><img src="' + img + '" /img>';
						});
					}
				}
				if (line.indexOf('src="https://www.youtube.com/embed/') === -1) {
					var youtubes = line.match(/http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w-]*)(&(amp;)?[\w\?=]*)?/gi);
					if (youtubes != null) {
						youtubes.forEach(function(yt) {
							line += '</br><iframe frameborder="0" src="https://www.youtube.com/embed/'+ yt +'" ></iframe>';
						});
					}
				}
				return line;
			} catch(err) {
				return "ERROR while embedding: " + err.message + "<br>" + line
			}
        }

        function ShowOrHideMenu() {
            $("#popup").toggleClass('menu-visible');
        }

        function emoteClicked(key) {
            QtObject.emoteClicked(key);
        }

        /*function populateEmoteList() {
            var list = $('#emote-list');
            Object.keys(Emotes.emoteList).forEach(function(key) {
                var e = $('<img >', {
                    class: 'emote',
                    src: Emotes.emoteList[key].name,
                    alt: key,
                    'data-key': key
                }).click(function(e) {
                    emoteClicked($(this).data('key'));
                });
                list.append(e);
            });
        }*/
        </script>
    </head>
    <body id='main'>
        <div class='emote-menu' id='popup'>
            <div id='emote-list'></div>
        </div>
    </body>
</html>
