<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='style.css'/>
        <!--<link rel='stylesheet' type='text/css' href='../../../styles/style.qss'/>-->
        <script src="jquery-3.2.1.min.js" type="text/javascript"></script>
        <script type="application/json" id="emotes">
            {
                "Kappa": { "name":"Emotes/Kappa.png" },
                "SourPls": { "name":"Emotes/SourPls.gif" },
                "BibleThump": { "name":"Emotes/BibleThump.png" },
                "WutFace": { "name":"Emotes/WutFace.png" },
                "PogChamp": { "name":"Emotes/PogChamp.png" },
                "ResidentSleeper": { "name":"Emotes/ResidentSleeper.png" },
                "FeelsAmazingMan": { "name":"Emotes/FeelsAmazingMan.png" },
                "FeelsBadMan": { "name":"Emotes/FeelsBadMan.png" },
                "FeelsGoodMan": { "name":"Emotes/FeelsGoodMan.png" },
                "LUL": { "name":"Emotes/LUL.png" },
                "Kreygasm": { "name":"Emotes/Kreygasm.png" },
                "RamKiss": { "name":"Emotes/RamKiss.png" },
                "RemKiss": { "name":"Emotes/RemKiss.png" },
                "BiriBlush": { "name":"Emotes/BiriBlush.gif" },
                "RikkaWoop": { "name":"Emotes/RikkaWoop.gif" },
                "NillaWag": { "name":"Emotes/NillaWag.gif" },
                "Tutturu": { "name":"Emotes/Tutturu.png" },
                "AkaWalk": { "name":"Emotes/AkaWalk.gif" },
                "MikuStare": { "name":"Emotes/MikuStare.png" },
                "9cirno9": { "name":"Emotes/9cirno9.png" },
                "MareWish": { "name":"Emotes/MareWish.png" },
                "VivioWife": { "name":"Emotes/VivioWife.png" },
                "EinhartYuri": { "name":"Emotes/EinhartYuri.png" },
                "NightKud": { "name":"Emotes/NightKud.png" },
                "DogeZ": { "name":"Emotes/DogeZ.png" },
                "KinKaren": { "name":"Emotes/KinKaren.png" },
                "Kabooto": { "name":"Emotes/Kabooto.png" },
                "NekoRin": { "name":"Emotes/NekoRin.png" },
                "FairyRenge": { "name":"Emotes/FairyRenge.png" },
                "ChickenRappi": { "name":"Emotes/ChickenRappi.png" },
                "UsagigaNigeteru": { "name":"Emotes/UsagigaNigeteru.png" },
                "NoulShiro": { "name":"Emotes/NoulShiro.png" },
                "Shyppa": { "name":"Emotes/Shyppa.png" },
                "HamsterImouto": { "name":"Emotes/HamsterImouto.png" },
                "ImoutosHamster": { "name":"Emotes/ImoutosHamster.png" },
                "ShakeKuma": { "name":"Emotes/ShakeKuma.png" },
                "ShiroKuma": { "name":"Emotes/ShiroKuma.png" },
                "MireiCute": { "name":"Emotes/MireiCute.png" },
                "LostRen": { "name":"Emotes/LostRen.png" },
                "FeitoFeico": { "name":"Emotes/FeitoFeico.png" },
                "FeitoChesto": { "name":"Emotes/FeitoChesto.png" },
                "FeitoLegso": { "name":"Emotes/FeitoLegso.png" },
                "FeitoFeeto": { "name":"Emotes/FeitoFeeto.png" },
                "AiShiteru": { "name":"Emotes/AiShiteru.png" },
                "&lt;3": { "name":"Emotes/AiShiteru.png" },
                "ShinkuWish": { "name":"Emotes/ShinkuWish.png" },
                "ShinMea1": { "name":"Emotes/ShinMea1.png" },
                "ShinMea2": { "name":"Emotes/ShinMea2.png" },
                "ShinMea3": { "name":"Emotes/ShinMea3.png" },
                "ShinLeft": { "name":"Emotes/ShinLeft.png" },
                "ShinRight": { "name":"Emotes/ShinRight.png" },
                "MeaLeft": { "name":"Emotes/MeaLeft.png" },
                "MeaRight": { "name":"Emotes/MeaRight.png" },
                "RikaPassion": { "name":"Emotes/RikaPassion.png" },
                "KirinoYome": { "name":"Emotes/KirinoYome.png" },
                "YoshinoHime": { "name":"Emotes/YoshinoHime.png" },
                "RikaCh": { "name":"Emotes/RikaCh.png" },
                "ampFull": { "name":"Emotes/ampFull.png" },
                "ClaireScarlet": { "name":"Emotes/ClaireScarlet.png" },
                "KuonLog": { "name":"Emotes/KuonLog.png" },
                "KanoHana": { "name":"Emotes/KanoHana.png" },
                "MiniK": { "name":"Emotes/MiniK.png" },
                "RikuStare": { "name":"Emotes/RikuStare.png" },
                "Wing1": { "name":"Emotes/Wing1.png" },
                "Wing2": { "name":"Emotes/Wing2.png" },
                "MeiK": { "name":"Emotes/MeiK.png" },
                "oreD": { "name":"Emotes/oreD.png" },
                "aaa-": { "name":"Emotes/aaa-.png" },
                "ShakeBoko": { "name":"Emotes/ShakeBoko.png" },
                "MareThump": { "name":"Emotes/MareThump.png" },
                "FeelsBadMare": { "name":"Emotes/FeelsBadMare.png" },
                "ArisaMoe": { "name":"Emotes/ArisaMoe.png" },
                "MofuNuko": { "name":"Emotes/MofuNuko.png" },
                "BlueShinku": { "name":"Emotes/BlueShinku.png" },
                "AmaFloat": { "name":"Emotes/AmaFloat.png" },
                "EUkun": { "name":"Emotes/EUkun.png" },
                "D:": { "name":"Emotes/D.png" },
                ":thinking:": { "name":"Emotes/thinking.png" },
                "HypeSplosion": { "name":"Emotes/HypeSplosion.png" },
                "TSSalt": { "name":"Emotes/TSSalt.png" },
                "NeverLucky": { "name":"Emotes/NeverLucky.png" },
                "NeverS": { "name":"Emotes/NeverS.png" },
                "Loominati": { "name":"Emotes/Loominati.png" },
                "SingleGee": { "name":"Emotes/SingleGee.png" },
                "BanHammer": { "name":"Emotes/BanHammer.png" },
                "ItsaTrap": { "name":"Emotes/ItsaTrap.png" },
                "panicBasket": { "name":"Emotes/panicBasket.png" },
                "nepSmug": { "name":"Emotes/nepSmug.png" },
                "ABABABABA": { "name":"Emotes/ABABABABA.png" },
                "TabeRu": { "name":"Emotes/Taberu2x.gif" },
                "topNep": { "name":"Emotes/topNep.png" }
            }
        </script>
        <script type="text/javascript" src="qwebchannel.js"></script>
        <script type="text/javascript" src="jquery.resize.js"></script>
        <script type='text/javascript' src='Emotes.js'></script>
        <script type='text/javascript' src='twitchEmotes.js'></script>
        <script type='text/javascript' src='bttvEmotes.js'></script>
        <script type='text/javascript' src='ffzEmotes.js'></script>

        <script type='text/javascript'>
            var main;
            var IsBottom = true;
            var QtObject;
            var stayDown = function() {
                if (IsBottom) {
                    window.scroll(0, document.body.scrollHeight);
                }
            };
            
        window.onload = function() {
            new QWebChannel(qt.webChannelTransport, function(channel) {
                QtObject = channel.objects.wObject;
            });
            main = $('#main');
            $('#main').resize(stayDown);
            Emotes.emoteList = JSON.parse($('#emotes').html());
            twitchEmotes.get();
            bttvEmotes.get();
            ffzEmotes.get();
            Emotes.makeKeyList();
            populateEmoteList();
        };

        window.onscroll = function(ev) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
                IsBottom = true;
                console.log("bottom");
            }
            else {
                IsBottom = false;
                console.log("not bottom");
            }
        };

        function AddServer(serverId) {
            if (!$(`.tab-${serverId}-server`).length) {
                main.append(`<div class='tab-${serverId}-server'></div><div class='tab-${serverId}-channel'></div>`);
            }
            ShowTarget(`tab-${serverId}-server`);
        }

        function AddLine(target, direction, time, name, line) {
            CreateTabIfNotExist(target);
            /*if (!$(`.${target}`).length)
            {
                main.append(`<div class='${target}' style='display: none;'></div>`);
            }*/
            if ($(`.${target}`).childElementCount > 500) {
                $(`.${target}`).firstElementChild.remove();
            }
            var formatted = `<p class='TextMessage_Normal'>
                                <span class='Body'>
                                    <img class='${direction}'>
                                    <span class='TextMessage_Time'><${time}> </span>
                                    <span class='TextMessage_UserLink'>"${name}"</span>: 
                                    <span class='TextMessage_Text'>${EmbedYoutube(Emotes.emoticonize(line))}</span>
                                </span>
                            </p>`;
            $(`.${target}`).append(formatted);

            if (IsBottom) {
                window.scroll(0, document.body.scrollHeight);
            }
        }

        function AddStatusLine(target, time, type, line) {
            CreateTabIfNotExist(target);
            /*if (!$(`.${target}`).length)
            {
                main.append(`<div class='${target}' style='display: none;'></div>`);
            }*/
            if ($(`.${target}`).childElementCount > 500) {
                $(`.${target}`).firstElementChild.remove();
            }
            var formatted = `<p class='${type}'>
                                <img class='Incoming'>
                                <span class='TextMessage_Time'><${time}> </span>
                                <span class='TextMessage_Text'>${line}</span>
                            </p>`;
            $(`.${target}`).append(formatted);

            if (IsBottom) {
                window.scroll(0, document.body.scrollHeight);
            }
        }

        function ShowTarget(target) {
            CreateTabIfNotExist(target);
            /*if (!$(`.${target}`).length)
            {
                main.append(`<div class='${target}' style='display: none;'></div>`);
            }*/
            $('[class^="tab"]').hide();
            $(`.${target}`).show();
            window.scroll(0, document.body.scrollHeight);
        }

        function CreateTabIfNotExist(target) {
            if (!$(`.${target}`).length) {
                main.append(`<div class='${target}' style='display: none;'></div>`);
            }
        }

        function escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        }

        function EmbedYoutube(line) {
            var yt = /http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w-]*)(&(amp;)?[\w\?=]*)?/;
            var m = line.match(yt);
                //console.log(m);
            if (m) {
                line += '</br><iframe frameborder="0" src="https://www.youtube.com/embed/'+ m[1] +'" ></iframe>';
            }
            return line;
        }

        function ShowOrHideMenu() {
            $("#popup").toggleClass('menu-visible');
        }

        function emoteClicked(key) {
            QtObject.emoteClicked(key);
        }

        function populateEmoteList() {
            var list = $('#emote-list');
            Object.keys(Emotes.emoteList).forEach(function(key) {
                var e = `<img class='emote' src='${Emotes.emoteList[key].name}' alt='${key}' onclick='emoteClicked("${key}")')>`;
                list.append(e);
            });
        }
        </script>
    </head>
    <body id='main'>
        <div class="emote-menu" id="popup">
            <div id="emote-list"></div>
        </div>
    </body>
</html>