img.Kappa {
    width: 25px;
    height: 28px;
}
img.SourPls {
    width: 32px;
    height: 32px;
}
img.BibleThump {
    width: 36px;
    height: 30px;
}
img.WutFace {
    width: 28px;
    height: 28px;
}
img.PogChamp {
    width: 23px;
    height: 28px;
}
img.ResidentSleeper {
    width: 28px;
    height: 28px;
}
img.FeelsAmazingMan {
    width: 28px;
    height: 28px;
}
img.FeelsBadMan {
    width: 30px;
    height: 30px;
}
img.FeelsGoodMan {
    width: 30px;
    height: 30px;
}
img.LUL {
    width: 28px;
    height: 28px;
}
img.Kreygasm {
    width: 19px;
    height: 27px;
}
img.RamKiss {
    width: 28px;
    height: 28px;
}
img.RemKiss {
    width: 28px;
    height: 28px;
}
img.BiriBlush {
    width: 28px;
    height: 28px;
}
img.RikkaWoop {
    width: 28px;
    height: 28px;
}
img.NillaWag {
    width: 28px;
    height: 28px;
}
img.Tutturu {
    width: 28px;
    height: 28px;
}
img.SoSnowy {
    width: 30px;
    height: 40px;
    position: absolute;    
}
img.AkaWalk {
    width: 28px;
    height: 27px; 
}
img.MikuStare {
    width: 28px;
    height: 28px; 
}

img.cirno9 {
    width: 16px;
    height: 16px; 
}
img.MareWish {
    width: 16px;
    height: 16px; 
}
img.VivioWife {
    width: 16px;
    height: 16px; 
}
img.EinhartYuri {
    width: 16px;
    height: 16px; 
}
img.NightKud {
    width: 16px;
    height: 16px; 
}
img.DogeZ {
    width: 16px;
    height: 16px; 
}
img.KinKaren {
    width: 16px;
    height: 16px; 
}
img.Kabooto {
    width: 16px;
    height: 16px; 
}
img.NekoRin {
    width: 16px;
    height: 16px; 
}
img.FairyRenge {
    width: 16px;
    height: 16px; 
}
img.ChickenRappi {
    width: 16px;
    height: 16px; 
}
img.UsagigaNigeteru {
    width: 16px;
    height: 16px; 
}
img.NoulShiro {
    width: 16px;
    height: 16px; 
}
img.Shyppa {
    width: 16px;
    height: 16px; 
}
img.LoliLick {
    width: 16px;
    height: 16px; 
}
img.LoliPantsu {
    width: 16px;
    height: 16px; 
}
img.LoliButt {
    width: 16px;
    height: 16px; 
}
img.AmazingChest {
    width: 16px;
    height: 16px; 
}
img.HentaiNeko {
    width: 16px;
    height: 16px; 
}
img.HamsterImouto {
    width: 16px;
    height: 16px; 
}
img.ImoutosHamster {
    width: 16px;
    height: 16px; 
}
img.ShakeKuma {
    width: 16px;
    height: 16px; 
}
img.ShiroKuma {
    width: 16px;
    height: 16px; 
}
img.MireiCute {
    width: 16px;
    height: 16px; 
}
img.LostRen {
    width: 16px;
    height: 16px; 
}
img.FeitoFeico {
    width: 16px;
    height: 16px; 
}
img.FeitoChesto {
    width: 16px;
    height: 16px; 
}
img.FeitoLegso {
    width: 16px;
    height: 16px; 
}
img.FeitoFeeto {
    width: 16px;
    height: 16px; 
}
img.AiShiteru {
    width: 16px;
    height: 16px; 
}
img.h2 {
    width: 16px;
    height: 16px; 
}
img.ShinkuWish {
    width: 16px;
    height: 16px; 
}
img.ShinMea1 {
    width: 16px;
    height: 16px; 
}
img.ShinMea2 {
    width: 16px;
    height: 16px; 
}
img.ShinMea3 {
    width: 16px;
    height: 16px; 
}
img.ShinLeft {
    width: 16px;
    height: 16px; 
}
img.ShinRight {
    width: 16px;
    height: 16px; 
}
img.MeaLeft {
    width: 16px;
    height: 16px; 
}
img.MeaRight {
    width: 16px;
    height: 16px; 
}
img.RikaPassion {
    width: 16px;
    height: 16px; 
}
img.KirinoYome {
    width: 16px;
    height: 16px; 
}
img.YoshinoHime {
    width: 16px;
    height: 16px; 
}
img.RikaCh {
    width: 16px;
    height: 16px; 
}
img.ampFull {
    width: 16px;
    height: 16px; 
}
img.ClaireScarlet {
    width: 16px;
    height: 16px; 
}
img.KuonLog {
    width: 16px;
    height: 16px; 
}
img.KanoHana {
    width: 16px;
    height: 16px; 
}
img.MiniK {
    width: 16px;
    height: 16px; 
}
img.RikuStare {
    width: 16px;
    height: 16px; 
}
img.Wing1 {
    width: 16px;
    height: 16px; 
}
img.Wing2 {
    width: 16px;
    height: 16px; 
}
img.MeiK {
    width: 16px;
    height: 16px; 
}
img.oreD {
    width: 16px;
    height: 16px; 
}
img.aaa- {
    width: 16px;
    height: 16px; 
}
img.HentaiAria {
    width: 16px;
    height: 16px; 
}
img.ShakeBoko {
    width: 16px;
    height: 16px; 
}
img.MareThump {
    width: 16px;
    height: 16px; 
}
img.FeelsBadMare {
    width: 16px;
    height: 16px; 
}
img.ArisaMoe {
    width: 16px;
    height: 16px; 
}
img.MofuNuko {
    width: 16px;
    height: 16px; 
}
img.BlueShinku {
    width: 16px;
    height: 16px; 
}
img.NoBra {
    width: 16px;
    height: 16px; 
}
img.AmaFloat {
    width: 16px;
    height: 16px; 
}
img.EUkun {
    width: 16px;
    height: 16px; 
}
img.D {
    width: 16px;
    height: 16px; 
}
img.thinking {
    width: 16px;
    height: 16px; 
}
img.HypeSplosion {
    width: 16px;
    height: 16px; 
}
img.TSSalt {
    width: 16px;
    height: 16px; 
}
img.NeverLucky {
    width: 16px;
    height: 16px; 
}
img.NeverS {
    width: 16px;
    height: 16px; 
}
img.HentaiBed {
    width: 16px;
    height: 16px; 
}
img.Loominati {
    width: 16px;
    height: 16px; 
}
img.SingleGee {
    width: 16px;
    height: 16px; 
}
img.PigDisgusting {
    width: 16px;
    height: 16px; 
}
img.BanHammer {
    width: 16px;
    height: 16px; 
}
img.ItsaTrap {
    width: 16px;
    height: 16px;
}
img.panicBasket {
    width: 16px;
    height: 16px;
}
img.ABABABABA {
    width: 32px;
    height: 32px;
}
img.nepSmug {
    width: 32px;
    height: 32px;
}
img.TabeRu {
    width: 56px;
    height: 56px;
}
img.topNep {
    width: 56px;
    height: 56px;
}
